//
// Block: feed-item-template, editorStyle.
//
// Enqueued in editor.
//

.editor-styles-wrapper {
	ul.wp-block-feed-block-feed-item-template {
		padding-left: 0;
		margin-left: 0;
		list-style: none;
	}
}
