//
// Block: feed-loop, editorStyle.
//
// Enqueued in editor.
//

.wp-block-feed-loop-feed-loop {
	$self: &;

	form#{$self}__placeholder-form {
		display: flex;
		flex-direction: column;

		button {
			align-self: flex-start;
		}
	}
}
